@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700);

* {
	margin: 0;
	padding: 0;
}

#resume {
	color: #333333;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	font-family: "Droid Serif", serif;
	font-size: 13pt;
	line-height: 1.4em;
}

h1 {
	font-size: 30pt;
	margin-top: 0.5em;
	float: left;
}

ol {
	list-style: none;
	text-align: right;
	width: 100%;
}

h2 {
	clear: both;
	font-size: 17pt;
	margin-top: 0.5em;
	border-bottom: 4px solid #e0e0e0;
	padding-bottom: 0.5em;
	text-align: right;
	font-variant: small-caps;
	letter-spacing: 2px;
}

h3 {
	font-size: 15pt;
	margin-top: 1em;
}

h4 {
	font-size: 13pt;
	font-weight: normal;
	font-style: italic;
}

ul {
	margin-left: 2em;
	margin-top: 0.5em;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #4183C4;
}
